<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Subscribe Form</title>
</head>
<body>
	<form method="post">
		{%csrf_token%}
		<!--{{form}}
			django form
		-->

		<!-- rendering django form fields manually -->
		<!-- field by field
		<div class="subscribe-filed">
			{{form.first_name.errors}}
			<label for="{{form.first_name.id_for_label}}"> First Name: </label>
			{{form.first_name}}
		-->

			<!--
				other form fields attributes:
					field.field_name
					field.errors, label, id_for_label, help_text, label_tag
			-->
		<!-- rendering fields throught a loop -->
		{%for field in form%}
			<div class="subscribe_field">
				{{field.errors}}
				{{field.label_tag}}
				{{field}}
			</div>
		{%endfor%}

		<!-- end through a loop-->
		</div>

		<input type="submit" name="Submit">
		<!-- {% csrf_token %}
		{% if email_empty %}
			<p>{{email_empty}}</p>
		{%endif%}
		<label for="f_name">First Name</label>
		<input type="text" name="firstname" id="f_name" placeholder="your firstname" required>
		<br>
		<label for="l_name">Laste Name</label>
		<input type="text" name="lastname" id="l_name" placeholder="your lastname" required>
		<br>
		<label for="email">Email</label>
		<input type="email" name="email" id="email" placeholder="your email" required>
		<br>
		<input type="submit" value="**Submit**"> -->

	</form>
</body>
</html>