<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Subscribe Form</title>
</head>
<body>
	<form method="post">
		{% csrf_token %}
		<label for="f_name">First Name</label>
		<input type="text" name="firstname" id="f_name" placeholder="your firstname" required>
		<br>
		<label for="l_name">Laste Name</label>
		<input type="text" name="lastname" id="l_name" placeholder="your lastname" required>
		<br>
		<label for="email">Email</label>
		<input type="email" name="email" id="email" placeholder="your email" required>
		<br>
		<input type="submit" value="**Submit**">
	</form>
</body>
</html>